target/
.idea/
.vscode/

# Path we use for internal-keycache during tests
/keys/
# In case of symlinked keys
/keys

**/Cargo.lock
**/*.bin

# Some of our bench outputs
/tfhe/benchmarks_parameters
**/*.csv

# dieharder run log
dieharder_run.log

# Coverage reports
/coverage/
