# Specifying a path without code owners means that path won't have owners and is akin to a negation
# i.e. the `core_crypto` dir is owned and needs owner approval/review, but not the `gpu` sub dir
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file
/tfhe/src/core_crypto/                  @IceTDrinker
/tfhe/src/core_crypto/gpu

/tfhe/src/shortint/                     @mayeul-zama

/tfhe/src/integer/                      @tmontaigu
/tfhe/src/integer/gpu

/tfhe/src/high_level_api/               @tmontaigu

/Makefile                               @IceTDrinker @soonum

/.github/                               @soonum

/CODEOWNERS                             @IceTDrinker
