[package]
name = "tfhe-versionable"
version = "0.7.0"
edition = "2021"
keywords = ["versioning", "serialization", "encoding"]
homepage = "https://zama.org/"
documentation = "https://docs.rs/tfhe_versionable"
repository = "https://github.com/zama-ai/tfhe-rs"
license = "BSD-3-Clause-Clear"
description = "tfhe-versionable: Add versioning informations/backward compatibility on rust types used for serialization"
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dev-dependencies]
static_assertions = "1.1"
trybuild = { version = "1", features = ["diff"] }

# used to test various serialization formats
bincode = { workspace = true }
serde_json = "1.0"
ciborium = "0.2"
rmp-serde = "1.3"
serde_yaml = "0.9"
toml = "0.8"

[dependencies]
serde = { workspace = true, features = ["default", "derive"] }
tfhe-versionable-derive = { version = "0.7.0", path = "../tfhe-versionable-derive" }
num-complex = { workspace = true, features = ["serde"] }
aligned-vec = { workspace = true, features = ["default", "serde"] }

[[example]]
name = "manual_impl"
test = true

[[example]]
name = "simple"
test = true

[[example]]
name = "recursive"
test = true

[[example]]
name = "upgrades"
test = true

[[example]]
name = "failed_upgrade"
test = true

[[example]]
name = "not_versioned"
test = true

[[example]]
name = "convert"
test = true

[[example]]
name = "vec"
test = true

[[example]]
name = "bounds"
test = true

[[example]]
name = "associated_bounds"
test = true

[[example]]
name = "skip"
test = true
