(
    // Number of register in HPU
    register: 64,
    // Depth of the instruction scheduler lookahead buffer
    isc_depth: 64,
    // Configuration of Hpu ALUs/Pbs units
    pe_cfg: "backends/tfhe-hpu-backend/config/pe.ron",
    // Targeted freq (only used for timing report)
    freq_MHz: 300,
    // Timeframe of each simulation slot
    // Enforce responsiveness of the simulation
    quantum_us: 1_000_000,
)
