[package]
name = "tfhe-lints"
version = "0.1.0"
description = "Project specific lints for TFHE-rs"
edition = "2021"
publish = false
autotests = false

[lib]
crate-type = ["cdylib"]

[dependencies]
clippy_utils = { git = "https://github.com/rust-lang/rust-clippy", rev = "54482290b5f32e6c6b57cc9e0a17153f432b0036" }
dylint_linting = "5.0.0"

[dev-dependencies]
dylint_testing = "5.0.0"
serde = { version = "1.0", features = ["derive"] }
tfhe-versionable = { version = "0.7.0", path = "../tfhe-versionable" }

[package.metadata.rust-analyzer]
rustc_private = true

[[example]]
name = "serialize_without_versionize"
path = "tests/serialize_without_versionize/main.rs"

[[example]]
name = "versionize_dispatch_enum"
path = "tests/versionize_dispatch_enum/main.rs"

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = [
    'cfg(dylint_lib, values(any()))',
] }
