[backend.aws.cpu-big]
region = "eu-west-3"
image_id = "ami-0cd5012d17ae64070"
instance_type = "m6i.32xlarge"
user = "ubuntu"

[backend.aws.cpu-big_fallback]
region = "us-east-1"
image_id = "ami-04e3bb9aebb6786df"
instance_type = "m6i.32xlarge"
user = "ubuntu"

[backend.aws.cpu-small]
region = "eu-west-3"
image_id = "ami-0cd5012d17ae64070"
instance_type = "m6i.4xlarge"
user = "ubuntu"

[backend.aws.bench]
region = "eu-west-1"
image_id = "ami-0b8fd02b263ebdcf4"
instance_type = "hpc7a.96xlarge"
user = "ubuntu"

# Profile used to build CUDA code without the need to get p-like instance.
[backend.aws.gpu-build]
region = "us-east-1"
image_id = "ami-06a04649d895d10e0"
instance_type = "m6i.4xlarge"

[backend.hyperstack.gpu-test]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-L40x1"

[backend.hyperstack.single-h100]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-H100x1"

[backend.hyperstack.2-h100]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-H100x2"

[backend.hyperstack.4-h100]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-H100x4"

[backend.hyperstack.multi-h100]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-H100x8"

[backend.hyperstack.multi-h100-nvlink]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-H100x8-NVLink"


[backend.hyperstack.multi-h100-sxm5]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-H100-SXM5x8"

[backend.hyperstack.multi-a100-nvlink]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-A100x8-NVLink"

[backend.hyperstack.multi-gpu-test]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-L40x4"

[backend.hyperstack.l40]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-L40x1"
