[backend.aws.cpu-big]
region = "eu-west-3"
image_id = "ami-051942e4055555752"
instance_type = "m6i.32xlarge"

[backend.aws.cpu-big_fallback]
region = "us-east-1"
image_id = "ami-04e3bb9aebb6786df"
instance_type = "m6i.32xlarge"

[backend.aws.cpu-small]
region = "eu-west-3"
image_id = "ami-051942e4055555752"
instance_type = "m6i.4xlarge"

[profile.bench]
region = "eu-west-1"
image_id = "ami-0e88d98b86aff13de"
instance_type = "hpc7a.96xlarge"

[backend.aws.gpu-test]
region = "us-east-1"
image_id = "ami-0c0bf195ca4c175b6"
instance_type = "p3.2xlarge"
# One spawn attempt every 30 seconds for 1 hour
spawn_retry_attempts = 120
spawn_retry_duration = 60

[backend.hyperstack.single-h100]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-H100x1"

[backend.hyperstack.multi-h100-nvlink]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-H100x8-NVLink-K8s"

[backend.hyperstack.multi-a100-nvlink]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-A100x8-NVLink"

[backend.aws.multi-gpu-test]
region = "us-east-1"
image_id = "ami-0c0bf195ca4c175b6"
instance_type = "p3.8xlarge"
# One spawn attempt every 30 seconds for 1 hour
spawn_retry_attempts = 120
spawn_retry_duration = 60

[command.signed_integer_full_bench]
workflow = "signed_integer_full_benchmark.yml"
profile = "bench"
check_run_name = "Signed Integer CPU AWS Benchmarks Full Suite"

[command.integer_full_bench]
workflow = "integer_full_benchmark.yml"
profile = "bench"
check_run_name = "Integer CPU AWS Benchmarks Full Suite"

[command.integer_bench]
workflow = "integer_benchmark.yml"
profile = "bench"
check_run_name = "Integer CPU AWS Benchmarks"

[command.integer_multi_bit_bench]
workflow = "integer_multi_bit_benchmark.yml"
profile = "bench"
check_run_name = "Integer multi bit CPU AWS Benchmarks"

[command.signed_integer_bench]
workflow = "signed_integer_benchmark.yml"
profile = "bench"
check_run_name = "Signed integer CPU AWS Benchmarks"

[command.signed_integer_multi_bit_bench]
workflow = "signed_integer_multi_bit_benchmark.yml"
profile = "bench"
check_run_name = "Signed integer multi bit CPU AWS Benchmarks"

[command.shortint_full_bench]
workflow = "shortint_full_benchmark.yml"
profile = "bench"
check_run_name = "Shortint CPU AWS Benchmarks Full Suite"

[command.shortint_bench]
workflow = "shortint_benchmark.yml"
profile = "bench"
check_run_name = "Shortint CPU AWS Benchmarks"

[command.boolean_bench]
workflow = "boolean_benchmark.yml"
profile = "bench"
check_run_name = "Boolean CPU AWS Benchmarks"

[command.core_crypto_bench]
workflow = "core_crypto_benchmark.yml"
profile = "bench"
check_run_name = "Core crypto CPU AWS Benchmarks"
