name: AWS Integer Tests on CPU

env:
  CARGO_TERM_COLOR: always
  ACTION_RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
  RUSTFLAGS: "-C target-cpu=native"

on:
  # Allows you to run this workflow manually from the Actions tab as an alternative.
  workflow_dispatch:
    # All the inputs are provided by Slab
    inputs:
      instance_id:
        description: "AWS instance ID"
        type: string
      instance_image_id:
        description: "AWS instance AMI ID"
        type: string
      instance_type:
        description: "AWS instance product type"
        type: string
      runner_name:
        description: "Action runner name"
        type: string
      request_id:
        description: 'Slab request ID'
        type: string
      matrix_item:
        description: 'Build matrix item'
        type: string

jobs:
  integer-tests:
    concurrency:
      group: ${{ github.workflow }}_${{ github.ref }}_${{ github.event.inputs.instance_image_id }}_${{ github.event.inputs.instance_type }}
      cancel-in-progress: true
    runs-on: ${{ github.event.inputs.runner_name }}
    steps:
      # Step used for log purpose.
      - name: Instance configuration used
        run: |
          echo "ID: ${{ github.event.inputs.instance_id }}"
          echo "AMI: ${{ github.event.inputs.instance_image_id }}"
          echo "Type: ${{ github.event.inputs.instance_type }}"
          echo "Request ID: ${{ github.event.inputs.request_id }}"

      - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f

      - name: Set up home
        run: |
          echo "HOME=/home/ubuntu" >> "${GITHUB_ENV}"

      - name: Install latest stable
        uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af
        with:
          toolchain: stable
          default: true

      - name: Gen Keys if required
        run: |
          make gen_key_cache

      - name: Run integer tests
        run: |
          BIG_TESTS_INSTANCE=TRUE make test_integer_ci

      - name: Slack Notification
        if: ${{ always() }}
        continue-on-error: true
        uses: rtCamp/action-slack-notify@12e36fc18b0689399306c2e0b3e0f2978b7f1ee7
        env:
          SLACK_COLOR: ${{ job.status }}
          SLACK_CHANNEL: ${{ secrets.SLACK_CHANNEL }}
          SLACK_ICON: https://pbs.twimg.com/profile_images/1274014582265298945/OjBKP9kn_400x400.png
          SLACK_MESSAGE: "Integer tests finished with status: ${{ job.status }}. (${{ env.ACTION_RUN_URL }})"
          SLACK_USERNAME: ${{ secrets.BOT_USERNAME }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
