name: CSPRNG randomness testing Workflow

env:
  CARGO_TERM_COLOR: always
  ACTION_RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
  RUSTFLAGS: "-C target-cpu=native"

on:
  # Allows you to run this workflow manually from the Actions tab as an alternative.
  workflow_dispatch:
    # All the inputs are provided by Slab
    inputs:
      instance_id:
        description: "AWS instance ID"
        type: string
      instance_image_id:
        description: "AWS instance AMI ID"
        type: string
      instance_type:
        description: "AWS instance product type"
        type: string
      runner_name:
        description: "Action runner name"
        type: string
      request_id:
        description: 'Slab request ID'
        type: string
      fork_repo:
        description: 'Name of forked repo as user/repo'
        type: string
      fork_git_sha:
        description: 'Git SHA to checkout from fork'
        type: string

jobs:
  csprng-randomness-teting:
    name: CSPRNG randomness testing
    concurrency:
      group: ${{ github.workflow }}_${{ github.ref }}_${{ inputs.instance_image_id }}_${{ inputs.instance_type }}
      cancel-in-progress: true
    runs-on: ${{ inputs.runner_name }}

    steps:
      - name: Checkout tfhe-rs
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          repository: ${{ inputs.fork_repo }}
          ref: ${{ inputs.fork_git_sha }}

      - name: Set up home
        run: |
          echo "HOME=/home/ubuntu" >> "${GITHUB_ENV}"

      - name: Install latest stable
        uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af
        with:
          toolchain: stable
          default: true

      - name: Dieharder randomness test suite
        run: |
          make dieharder_csprng

      - name: Slack Notification
        if: ${{ failure() }}
        continue-on-error: true
        uses: rtCamp/action-slack-notify@b24d75fe0e728a4bf9fc42ee217caa686d141ee8
        env:
          SLACK_COLOR: ${{ job.status }}
          SLACK_CHANNEL: ${{ secrets.SLACK_CHANNEL }}
          SLACK_ICON: https://pbs.twimg.com/profile_images/1274014582265298945/OjBKP9kn_400x400.png
          SLACK_MESSAGE: "concrete-csprng randomness check finished with status: ${{ job.status }}. (${{ env.ACTION_RUN_URL }})"
          SLACK_USERNAME: ${{ secrets.BOT_USERNAME }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
