name: generate_svg_common

on:
  workflow_call:
    inputs:
      backend:
        type: string
      hardware_name:
        type: string
      layer:
        type: string
      bench_subset:
        type: string
        default: all
      pbs_kind: # Valid values are 'classical', 'multi_bit' or 'any'
        type: string
      grouping_factor: # Valid values are 2, 3, or 4
        type: string
        default: 4
      bench_type: # Valid values are 'latency', 'throughput'
        type: string
      name_suffix:
        type: string
        default: _mean_avx512
      backend_comparison:
        type: boolean
        default: false
      time_span_days:
        type: string
        default: 60
      output_filename:
        type: string
        required: true
    secrets:
      DATA_EXTRACTOR_DATABASE_USER:
        required: true
      DATA_EXTRACTOR_DATABASE_HOST:
        required: true
      DATA_EXTRACTOR_DATABASE_PASSWORD:
        required: true

permissions: {}

# zizmor: ignore[concurrency-limits] caller workflow is responsible for the concurrency

jobs:
  generate-table:
    name: generate_svg_common/generate-table
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tfhe-rs
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: 'false'

      - name: Produce table from database
        if: inputs.backend_comparison == false
        run: |
          python3 -m pip install -r ci/data_extractor/requirements.txt
          python3 ci/data_extractor/src/data_extractor.py "${OUTPUT_FILENAME}" \
          --generate-svg \
          --branch "${REF_NAME}" \
          --backend "${BACKEND}" \
          --hardware "${HARDWARE_NAME}" \
          --tfhe-rs-layer "${LAYER}" \
          --pbs-kind "${PBS_KIND}" \
          --grouping-factor "${GROUPING_FACTOR}" \
          --bench-type "${BENCH_TYPE}" \
          --bench-subset "${BENCH_SUBSET}" \
          --name-suffix "${NAME_SUFFIX}" \
          --time-span-days "${TIME_SPAN}"
        env:
          OUTPUT_FILENAME: ${{ inputs.output_filename }}
          REF_NAME: ${{ github.ref_name }}
          BACKEND: ${{ inputs.backend }}
          HARDWARE_NAME: ${{ inputs.hardware_name }}
          LAYER: ${{ inputs.layer }}
          PBS_KIND: ${{ inputs.pbs_kind }}
          GROUPING_FACTOR: ${{ inputs.grouping_factor }}
          BENCH_TYPE: ${{ inputs.bench_type }}
          BENCH_SUBSET: ${{ inputs.bench_subset }}
          NAME_SUFFIX: ${{ inputs.name_suffix }}
          TIME_SPAN: ${{ inputs.time_span_days }}
          DATA_EXTRACTOR_DATABASE_USER: ${{ secrets.DATA_EXTRACTOR_DATABASE_USER }}
          DATA_EXTRACTOR_DATABASE_HOST: ${{ secrets.DATA_EXTRACTOR_DATABASE_HOST }}
          DATA_EXTRACTOR_DATABASE_PASSWORD: ${{ secrets.DATA_EXTRACTOR_DATABASE_PASSWORD }}

      - name: Upload tables
        if: inputs.backend_comparison == false
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: ${{ github.sha }}_${{ inputs.backend }}_${{ inputs.layer }}_subset_${{inputs.bench_subset}}_${{ inputs.pbs_kind }}_${{ inputs.bench_type }}_tables
          # This will upload all the file generated
          path: ${{ inputs.output_filename }}*.svg
          retention-days: 60

      - name: Produce backends comparison table from database
        if: inputs.backend_comparison == true
        run: |
          python3 -m pip install -r ci/data_extractor/requirements.txt
          python3 ci/data_extractor/src/data_extractor.py "${OUTPUT_FILENAME}" \
          --generate-svg \
          --backends-comparison \
          --time-span-days "${TIME_SPAN}"
        env:
          OUTPUT_FILENAME: ${{ inputs.output_filename }}
          TIME_SPAN: ${{ inputs.time_span_days }}
          DATA_EXTRACTOR_DATABASE_USER: ${{ secrets.DATA_EXTRACTOR_DATABASE_USER }}
          DATA_EXTRACTOR_DATABASE_HOST: ${{ secrets.DATA_EXTRACTOR_DATABASE_HOST }}
          DATA_EXTRACTOR_DATABASE_PASSWORD: ${{ secrets.DATA_EXTRACTOR_DATABASE_PASSWORD }}

      - name: Upload comparison tables
        if: inputs.backend_comparison == true
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: ${{ github.sha }}_backends_comparison_tables
          # This will upload all the file generated
          path: ${{ inputs.output_filename }}*.svg
          retention-days: 60
